div.markup-example {
    border: 1px solid #e1e4e5;
    border-radius: 3px;
    margin-bottom: 2rem;
}

div.markup-example .example-snippet {
    padding: 1.5rem;
}

div.markup-example .code-snippet {
    border-top: 1px solid #e1e4e5;
    background-color: #f8f8f8;
    padding: .75rem 1.5rem;
    overflow-x: auto;    
}

div.markup-example .code-snippet code {
    padding: 0;
    background: transparent;
    border: none;
    white-space: nowrap;
    word-wrap: normal;
}

div.markup-example .code-snippet pre {
    margin-bottom: 0;
}
